<!DOCTYPE html>
<html>
  {% include head.html %}
  <script src="{{site.baseurl}}/js/prism.js"></script>
  
  <body>
    
    {% include nav.html %}
    
    <div id="main" role="main" class="container">
      <div class="row"> <!-- row 1 -->
        
        <div class="col-sm">
          <small>{{page.type}}: <span id="due{{ page.title | remove: ' '}}"></span></small><br>
          <h1>{{page.title}}</h1>  
        </div>
     
        
      </div> <!-- end row 1 -->
      
      <div class="row"> <!-- row 2 -->
        <div class="col-sm" style="margin-top: 20px;">
          {{ content }}
        </div>
      </div> <!-- end row 2 -->
      
			
			{% if page.rubric %}
      <div class="row"> <!-- row 2 -->
        <div class="col-sm" style="margin-top: 20px;">
          {% include render-rubrics.html %}
        </div>
      </div> <!-- end row 2 -->
      {% endif %}
      {% include upload.html %}
      
  </div> <!-- main -->
  
    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include footer.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
